* {
    margin: 0px;
    padding: 0px
}

.tab {
    width: 99%;
    margin: 20px auto;
    border: 5px solid #cccccc;
}

.tab ul {
    height: 40px;
    line-height: 40px;
}
.tab ul li{
    list-style: none;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 33%;
    text-align: center;
    background-color: dodgerblue;
    margin-right: 2px;
    cursor: pointer;
    font-family: 华文琥珀;
    font: bold;
}
.tab ul li.active{
    background-color: aqua;
}
.tab ul li:first-child{
    margin-left: 5px;
}
.tab ul li:last-child{
    margin-right: 0px;
}


.tab-content div{
    display: none;
    height: 500px;
}
.local-new{
    padding: 20px;
}
fieldset{
    margin: 50px;
    padding: 20px;
}

input[type='text']:focus{
    background-color: lightyellow;
}

input[type='radio']:checked+label{
    font-weight: bold;
}

#nextstep :disabled{
    background-color: #ccc;
}

#nextstep :enabled{
    font-weight: bold;
    font-style: italic;
}

p:lang(zh-cn){
    font-family: 微软雅黑；
}

p:lang(us-en){
    font-family: Arial, Helvetica, sans-serif;
}